@using Sitecore.Mvc
@model SampleMvc.Models.SampleMvcInnerSublayoutViewModel

        <div class="content">
            @Html.Sitecore().Placeholder("content")
        </div>
 
    <div id="Footer"><hr class="divider" />&#169; @Model.CurrentYear Sitecore</div>
