@using Sitecore.Mvc

<div>
    <h1 class="contentTitle">
        @Html.Sitecore().Field("title")
    </h1>
    <div class="contentDescription">
        @Html.Sitecore().Field("text")
    </div>
</div>



<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"> @Html.Sitecore().Field("title")</div>
            <div class="intro-heading text-uppercase"> @Html.Sitecore().Field("text")</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
    </div>
</header>